<% form_for @service do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :display_name %><br />
    <%= f.text_field :display_name %>
  </p>
  <p>
	<%= f.label :url %><br />
	<%= f.text_field :url %>
  </p>
  <p>
	<%= f.label :schedule %><br />
	<%= f.text_field :schedule %>
  </p>
  <p>
	<%= f.label :background_image %><br />
	<%= f.text_field :background_image %>
  </p>
  <p><%= f.submit %></p>
<% end %>
