<% title "Services" %>

<table>
  <tr>
    <th>Name</th>
    <th>Display Name</th>
  </tr>
  <% for service in @services %>
    <tr>
      <td><%=h service.name %></td>
      <td><%=h service.display_name %></td>
	  <td><%=h service.url %></td>
	  <td><%=h service.schedule %></td>
	  <td><%=h service.background_image %></td>
      <td><%= link_to "Show", service %></td>
      <td><%= link_to "Edit", edit_service_path(service) %></td>
      <td><%= link_to "Destroy", service, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Service", new_service_path %></p>
