<% title "Service" %>

<p>
  <strong>Name:</strong>
  <%=h @service.name %>
</p>
<p>
  <strong>Display Name:</strong>
  <%=h @service.display_name %>
</p>

<p>
  <%= link_to "Edit", edit_service_path(@service) %> |
  <%= link_to "Destroy", @service, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", services_path %>
</p>
