<% title "Service" %>

<p>
  <strong>Name:</strong>
  <%=h @service.name %>
</p>
<p>
  <strong>Display Name:</strong>
  <%=h @service.display_name %>
</p>
<p>
  <strong>Service URL:</strong>
  <%=h @service.url %>
</p>
<p>
  <strong>Schedule URL:</strong>
  <%=h @service.schedule %>
</p>
<p>
  <strong>Background Image URL:</strong>
  <%=h @service.background_image %>
</p>



<p>
  <%= link_to "Edit", edit_service_path(@service) %> |
  <%= link_to "Destroy", @service, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", services_path %>
</p>
