<% title "Exposures" %>

<table>
  <tr>
    <th>Birth</th>
    <th>Death</th>
    <th>Stream</th>
  </tr>
  <% for exposure in @exposures %>
    <tr>
      <td><%=h exposure.birth %></td>
      <td><%=h exposure.death %></td>
      <td><%=h exposure.stream_id %></td>
      <td><%= link_to "Show", [@service,@stream,exposure] %></td>
      <td><%= link_to "Edit", edit_exposure_path(exposure) %></td>
      <td><%= link_to "Destroy", exposure, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Exposure", new_exposure_path %></p>
