<% title "New Exposure" %>

<% form_for [@service,@stream,@exposure] do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :birth %><br />
    <%= f.datetime_select :birth %>
  </p>
  <p>
    <%= f.label :death %><br />
    <%= f.datetime_select :death %>
  </p>
  <% f.fields_for "#{@resource.class.name.underscore}_attributes".to_sym, @resource do |resource_fields| %>
    <%= render :partial => '/resources/form', :locals => { :f => resource_fields, :model => @resource } %>
  <%end%>
  <br clear="all" />
  <p><%= f.submit %></p>
<% end %>

<p><%= link_to "Back to List", service_stream_exposures_path(@service,@stream) %></p>
