  <%= f.error_messages %>
  <p>
    <%= f.label :type %><br />
    <%= f.text_field :type, :value => model.type %>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title,:value => model.title %>
  </p>
  <p>
    <%= f.label :blurb %><br />
    <%= f.text_area :blurb, :value => model.blurb %>
  </p>
  <p>
    <%= f.label :resource_url %><br />
    <%= f.text_field :resource_url, :value => model.resource_url %>
  </p>
  <% if @resource.external_image_url != nil %>
  <%= render :partial => '/resources/external_image_handler', :locals => { :f => f , :model => model} rescue ""%>
  <%end%>
  
