<% title "Promotions" %>

<table>
  <tr>
    <th>Birth</th>
    <th>Death</th>
    <th>Stream</th>
    <th>Exposure</th>
  </tr>
  <% for exposure in @promotions %>
    <tr>
      <td><%=h exposure.birth %></td>
      <td><%=h exposure.death %></td>
      <td><%=h exposure.stream.display_name %></td>
      <td><%= link_to exposure.resource.title, resource_path(exposure.resource)%></td>
      <td><%= link_to "Show", [@service,exposure.stream,exposure] %></td>
      <td><%= link_to "Edit", edit_service_stream_exposure_path(@service,exposure.stream,exposure) %></td>
      <td><%= link_to "Destroy", [@service,exposure.stream,exposure], :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>
<p><%= link_to "New Promotion", new_service_promotion_path(@service) %></p>
