<% title "Promotion" %>

<p>
  <strong>Type:</strong>
  <%=h @promotion.type %>
</p>
<p>
  <strong>Title:</strong>
  <%=h @promotion.title %>
</p>
<p>
  <strong>Blurb:</strong>
  <%=h @promotion.blurb %>
</p>
<p>
  <strong>Resource Url:</strong>
  <%=h @promotion.resource_url %>
</p>

<p>
  <%= link_to "Edit", edit_promotion_path(@promotion) %> |
  <%= link_to "Destroy", promotion_path(@promotion), :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", promotions_path %>
</p>
