<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= h(yield(:title) || "Untitled") %></title>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'jquery' %>
    <%= javascript_include_tag 'jquery-ui' %>
    <%= javascript_include_tag 'jrails' %>
    <%= yield(:head) %>
  </head>
  <body>
    <div style=" overflow:auto; width: 75%; margin-left:auto; margin-right: auto; "><img src="/images/bbc.png" style="float: left; width: 50%" /><div style="float: right; width: 50%"><img src="http://www.bbc.co.uk/radio1/images/logo120x60.gif" /><!--<%=h @service.display_name if @service && @service.display_name%>--></div></div>
    <div id="container">
      <a style="float:right; background: white; border: 1px;" href="
         javascript:location.href='http://digestivesystem.heroku.com/services/radio1/streams/live/exposures/new?url='+encodeURIComponent(%20location.href%20)
         ">Bookmarklet</a>
         <%- flash.each do |name, msg| -%>
           <%= content_tag :div, msg, :id => "flash_#{name}" %>
         <%- end -%>

      <%- if show_title? -%>
        <h2><%=h yield(:title) %></h2>
      <%- end -%>

      <%= yield %>
    </div>
  </body>
</html>
